.klc-wrap {
	background-color: white;
	padding: 20px;
}

.klc-settings {
	border: 1px solid #ddd;
	padding: 20px;
	height: 250px;
}

.klc-about {
	border: 1px solid #ddd;
	padding: 20px;
	height: 250px;
}

.klc-shortcode-input {
	width: 325px;
}

#klc-instructions {
	background-color: #f0f0f0;
	border: 1px solid #e0e0e0;
	margin-top: 20px;
	padding-left: 20px;
	color: #777;
}

#klc-instructions li{
	list-style: square;
	margin: 0 0 10px 13px;
}

#klc-preview {
	max-width: 500px;
	margin: 10px 0;
	background-color: white;
}